.ax_default {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:center;
  line-height:normal;
  text-transform:none;
}
._形状 {
}
._图像 {
}
.placeholder {
}
.button {
}
._标题_1 {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
._标题_2 {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
._标题_3 {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
._标题_4 {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
._标题_5 {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  text-align:left;
}
._标题_6 {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:10px;
  text-align:left;
}
.label {
  font-size:14px;
  text-align:left;
}
._文本 {
  text-align:left;
}
.line {
}
.text_field {
  color:#000000;
  text-align:left;
}
.text_area {
  color:#000000;
  text-align:left;
}
.droplist {
  color:#000000;
  text-align:left;
}
.list_box {
  color:#000000;
  text-align:left;
}
.checkbox {
  text-align:left;
}
.table_cell {
}
._表单提示 {
  color:#999999;
}
._表单禁用 {
}
._流程形状 {
}
._直线___行距 {
}
._连接符 {
}
.sticky_1 {
  text-align:left;
}
.form_hint {
  color:#999999;
}
.form_disabled {
}
._默认样式 {
}
._文本链接 {
  color:#409EFF;
}
._链接悬停 {
  color:#66B1FF;
}
._链接按下 {
}
._形状1 {
  color:#333333;
}
._文本链接1 {
}
._链接悬停1 {
}
._链接按下1 {
}
.box_1 {
}
.box_2 {
}
.ellipse {
}
._鼠标按下文本链接 {
}
._鼠标悬停文本链接 {
}
.primary_button {
  color:#FFFFFF;
}
.flow_shape {
}
.image {
}
.box_3 {
}
._表格 {
}
._默认样式1 {
}
._图片 {
}
._私域视界v1_7_12（客户管理_三期） {
  font-size:13px;
  color:#FFFFFF;
}
.line1 {
}
.paragraph {
  text-align:left;
}
._1-linecolor {
  font-size:12px;
  color:#333333;
}
.notebg_axplus_net {
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
.radio_button {
  text-align:left;
}
.font_awesome_5_free_solid {
  font-family:'Font Awesome 5 Free Solid', 'Font Awesome 5 Free Regular', 'Font Awesome 5 Free', sans-serif;
  font-weight:900;
  font-style:normal;
}
.paragraph1 {
  text-align:left;
}
.box_31 {
}
._私域视界v1_6 {
  font-size:12px;
  color:#FFFFFF;
}
._1-color {
  font-size:12px;
  color:#FFFFFF;
}
._私域视界v1_7_2 {
  font-size:12px;
  color:#FFFFFF;
}
.icon {
}
.font_awesome_5_free_regular {
  font-family:'Font Awesome 5 Free', sans-serif;
  font-weight:400;
  font-style:normal;
}
._私域视界v1_7_1 {
  font-family:'新宋体', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
._私域视界v1_7_4 {
  font-size:12px;
  color:#FFFFFF;
}
._私域视界v1_7_3 {
  font-size:12px;
  color:#FFFFFF;
}
._私域视界v1_7_8 {
  font-size:12px;
  color:#FFFFFF;
}
._私域视界v1_7_10（客户管理_考核指标优化） {
  font-size:12px;
  color:#FFFFFF;
}
._私域视界v1_10（ip分身、内容复制） {
  font-size:13px;
  color:#FFFFFF;
}
._私域视界v1_11（内容定向规划） {
  font-size:13px;
  color:#FFFFFF;
}
._私域视界-搜索加急 {
  font-size:12px;
  color:#FFFFFF;
}
._私域视界v1_13（每日发圈神器） {
  font-size:13px;
  color:#FFFFFF;
}
._图片_ {
}
._私域视界v1_5 {
  font-size:12px;
  color:#FFFFFF;
}
._鼠标按下文本链接时 {
}
._文本段落 {
  text-align:left;
}
.font_awesome_6_pro {
  font-family:'FontAwesome6Pro-Solid', 'Font Awesome 6 Pro Solid Solid', 'Font Awesome 6 Pro Solid', sans-serif;
  font-weight:900;
  font-style:normal;
}
textarea, select, input, button { outline: none; }
